<div class="calm-blue">
    <div class="d-flex flex-wrap">
        <div class="col-md-4 d-flex align-items-center">
            <div class="container image-wrapper">
                <img class="img" src="../../assets/images/me.png" alt="A picture of me">
            </div>
        </div>
        <div class="col-md-8">
            <hr>
            <div class="container" style="font-family: Montserrat; font-size: 1rem;">
                <p>
                    Hey, nice to meet you! My name is Nick and I'm a Software/Web Developer recently graduated
                    from Canada's McGill University
                    <a target="_blank" href="https://www.youtube.com/watch?v=cc5vN2XReWs" style="color: white">as referenced by the simpsons</a>.
                    I was born in Japan, but I've spent a significant amount of my life in east/southeast Asia, primarily
                    Hong Kong and Singapore.
                </p>
                <p>
                    I have a passion for building web applications and I strive to learn whenever possible.
                    I have fullstack experience, and I am primarily interested in frontend development,
                    building intuitive and reactive websites.
                </p>
                <p>
                    When I'm not working, I like to play volleyball, soccer, and improve my learning through both 
                    tech and non-tech related side projects.
                </p>
                <p>
                    For a more condensed and aesthetic summary, you can: &nbsp;
                    <a class="btn btn-outline-dark" download href="../../assets/pdfs/software_dev_Resume.pdf">
                        <fa-icon [icon]="faFile"></fa-icon>
                        download my resume
                    </a>
                </p>
                <p>

                </p>
            </div>
            <hr>
        </div>
    </div>
</div>

<div class="bg-dark" style="font-family: Montserrat; padding: 6% 0;">
    <div class="container text-light">
        <h4 class="py-2 text-light">Professional Experience</h4>
        <div class="mb-1">
            <div class="card flex-row text-dark">
                <div class="card-header border-0 d-flex align-items-center" style="width: 100px; height: 100px;">
                    <div>
                        <img style="width: 60px;" src="../../assets/images/citibank.png" alt="McGill University">
                    </div>
                </div>
                <div class="px-2">
                    <h4 style="margin: 0.75rem 0;">Citibank</h4>
                    <p class="card-text">Software Developer</p>
                </div>
            </div>
        </div>
        <h4 class="py-2">Education</h4>
        <div class="mb-1">
            <div class="card flex-row text-dark">
                <div class="card-header border-0 d-flex align-items-center" style="width: 100px; height: 100px;">
                    <div>
                        <img style="width: 60px;" src="../../assets/images/mcgill.png" alt="McGill University">
                    </div>
                </div>
                <div class="px-2">
                    <h4 style="margin: 0.75rem 0;">McGill University</h4>
                    <p class="card-text">B.A. Computer Science & Psychology</p>
                </div>
            </div>
        </div>
        <div class="mb-1">
            <div class="card flex-row text-dark">
                <div class="card-header border-0 d-flex align-items-center" style="width: 100px; height: 100px;">
                    <div>
                        <img style="width: 60px;" src="../../assets/images/generalassembly.png" alt="General Assembly">
                    </div>
                </div>
                <div class="px-2">
                    <h4 style="margin: 0.75rem 0;">General Assembly</h4>
                    <p class="card-text">Web Development Immersive Bootcamp</p>
                </div>
            </div>
        </div>
        <div class="mb-1">
            <div class="card flex-row text-dark">
                <div class="card-header border-0 d-flex align-items-center" style="width: 100px; height: 100px;">
                    <div>
                        <img style="width: 60px;" src="../../assets/images/sas.png" alt="Singapore American School">
                    </div>
                </div>
                <div class="px-2">
                    <h4 style="margin: 0.75rem 0;">Singapore American School</h4>
                    <p class="card-text">High School</p>
                </div>
            </div>
        </div>
    </div>
</div>