.calm-blue {
    background-color: #4c86c3;
}

.image-wrapper {
    width: 250px;
    margin: 0 auto;
}

.img {
    width: 100%;
    border-radius: 50%;
}

@media only screen and (max-width: 768px) {
    .image-wrapper {
        width: 200px;
        margin-bottom: 5%;
    }
}