.calm-blue {
    background-color: #4c86c3;
}

.thumbnail {
    width: 100%;
    transition: ease-in 200ms;
}

.thumbnail:hover {
    box-shadow: 6px 6px 8px;
    transition: ease-out 200ms;
    cursor: pointer;
}

.summary-container {
    padding: 8% 0; 
    font-family: Montserrat;
}

@media only screen and (max-width: 768px) {
    .summary-container {
        padding-top: 20%;
        text-align: center;
    }
    .col-lg-5 {
        margin: 0 auto;
        width: 80%;
    }

    .inner-summary-container {
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }
}