<div class="calm-blue">
    <div class="container text-dark summary-container">
        <div class="pb-5">
            <h2 class="d-block" style="color: white;">What I'm up to</h2>
        </div>

        <div class="inner-summary-container">
            <hr>
            <h5 class="text-white my-3">Sharplab</h5>
            <div class="row">
                <div class="col-md-5">
                    <a href="http://sharp.lab.mcgill.ca/">
                        <img ngbTooltip="Go to the sharplab" class="thumbnail" src="../../assets/images/sharplab.png" alt="sharplab">
                    </a>
                </div>
                <div class="col-md-7">
                    <p>
                        I am currently part of an exciting project directed by the McGill Sharplab. 
                    </p>
                    <p>
                        With the advent of covid, psychological testing has been heavily impacted as it
                        has become difficult to safely invite and test participants for studies.
                    </p>
                    <p>
                        This project aims to build a web application
                        that can administer psychological tests over the internet through web based technologies.
                    </p>
                </div>
            </div>
            <hr>
        </div>

        <div class="inner-summary-container">
            <h5 class="text-white my-3">My new aquarium!</h5>
            <div class="row">
                <div class="col-md-5">
                    <div>
                        <img ngbTooltip="Look at those happy neon tetras!" class="thumbnail" src="../../assets/images/aquarium.jpg" alt="Aquarium" style="border-radius: 10px;">
                    </div>
                </div>
                <div class="col-md-7">
                    <p>
                        After months of googling, waiting, and praying I have finally produced an aesthetic aquarium!
                    </p>
                    <p>
                        It is currently the home of 10 happy neon tetras and one otocinclus.
                    </p>
                </div>
            </div>
            <hr>
        </div>

        <div class="inner-summary-container pb-5">
            <h5 class="text-white my-3">myphokingblog.com</h5>
            <div class="row">
                <div class="col-md-5">
                    <!-- <a href="https://myphokingblog.com/"> -->
                    <a href="#">
                        <img ngbTooltip="Hopefully this will be up again soon :(" class="thumbnail" src="../../assets/images/phoblog.png" alt="Pho blog">
                    </a>
                </div>
                <div class="col-md-7">
                    <p style="font-style: italic;">
                        <b>
                            Note: With the advent of covid, this blog is no longer active. Hopefully when 
                            restaurants open up again I'll be able to return to all the pho restaurants I've
                            been meaning to try.
                        </b>
                    </p>
                    <p>
                        Armed with my subpar writing skills, amateurish smartphone photography abilities, 
                        and voracious appetite, I will comb the streets of Toronto and eat/rate every bowl
                        of pho I can find in this city.
                    </p>
                    <p>
                        I'm still learning the intricacies of wordpress, but I'm hoping in the future that
                        this will be a great consultation resource for pho in Toronto.
                    </p>
                </div>
            </div>
            <hr>
        </div>

        <!-- <div class="inner-summary-container pb-5">
            <hr>
            <h5 class="text-white my-3">revu</h5>
            <div class="row">
                <div class="col-md-5">
                    <a href="#">
                        <img ngbTooltip="Coming soon!" class="thumbnail" src="../../assets/images/revu.jpg" alt="Revu">
                    </a>
                </div>
                <div class="col-md-7">
                    <p>
                        This is a web application I've been working on. It's still in the process of being
                        developed, so stay tuned for future updates.
                    </p>
                </div>
            </div>
            <hr>
        </div> -->
    </div>
</div>