<div class="calm-blue">
    <div class="container text-dark summary-container">
        <div class="pb-5">
            <h2 class="d-block">What I'm up to</h2>
            <h5 class="text-white d-block">(This page is still a work in progress so please don't judge)</h5>
        </div>

        <div class="inner-summary-container pb-5">
            <hr>
            <h5 class="text-white my-3">myphokingblog.com</h5>
            <div class="row">
                <div class="col-md-5">
                    <a href="https://myphokingblog.com/">
                        <img ngbTooltip="Click to go to my blog" class="thumbnail" src="../../assets/images/phoblog.png" alt="Pho blog">
                    </a>
                </div>
                <div class="col-md-7">
                    <p>
                        Armed with my subpar writing skills, amateurish smartphone photography abilities, 
                        and voracious appetite, I will comb the streets of Toronto and eat/rate every bowl
                        of pho I can find in this city.
                    </p>
                    <p>
                        I'm still learning the intricacies of wordpress, but I'm hoping in the future that
                        this will be a great consultation resource for pho in Toronto.
                    </p>
                </div>
            </div>
            <hr>
        </div>

        <div class="inner-summary-container pb-5">
            <hr>
            <h5 class="text-white my-3">revu</h5>
            <div class="row">
                <div class="col-md-5">
                    <a href="#">
                        <img ngbTooltip="Coming soon!" class="thumbnail" src="../../assets/images/revu.jpg" alt="Revu">
                    </a>
                </div>
                <div class="col-md-7">
                    <p>
                        This is a web application I've been working on. It's still in the process of being
                        developed, so stay tuned for future updates.
                    </p>
                </div>
            </div>
            <hr>
        </div>
    </div>
</div>