<div style="overflow: hidden; position: absolute; max-width: 100vw; pointer-events: none;">
    <div class="triangle"></div>
</div>

<div class="position-relative h-75 d-flex align-items-center justify-content-center">
    <div class="d-flex justify-content-center">
        <div class="intro-card">
            <div class="row">
                <div class="col-sm-4 text-center">
                    <img src="../../assets/images/me.png" class="profile" alt="A picture of me">
                </div>
                <div class="col-sm-8">
                    <h1 class="big-intro">Hi, I'm Nick</h1>
                    <hr>
                    <div class="small-dynamic-intro">
                        <p class="d-inline">I am a&nbsp;</p>
                        <app-typewriter [words]="typewriterWords"></app-typewriter>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-2 text-center text-dark" placement="top" ngbTooltip="https://www.linkedin.com/in/n-a-lee/">
                    <div class="float">
                        <a href="https://www.linkedin.com/in/n-a-lee/">
                            <fa-icon [icon]="faLinkedin"></fa-icon>
                        </a>
                    </div>
                </div>
                <div class="col-sm-2 text-center text-dark" placement="top" ngbTooltip="https://github.com/nicoalee">
                    <div class="float">
                        <a href="https://github.com/nicoalee">
                            <fa-icon [icon]="faGithubSquare"></fa-icon>
                        </a>
                    </div>
                </div>
                <div class="col-sm-2 text-center text-dark" placement="top" ngbTooltip="Click to copy nicholasleea@gmail.com" #emailElement>
                    <div class="float" style="cursor: pointer;" (click)="copyToClipboard('nicholasleea@gmail.com')" ngbTooltip="Copied!" triggers="click:blur" [ngbTooltip]="tooltipContent">
                        <ng-template #tooltipContent>
                            <fa-icon style="color: green; font-size: 1rem;" [icon]="faCheckCircle"></fa-icon>
                            <span style="color: green;">&nbsp;Copied!</span>
                        </ng-template>
                        <a>
                            <fa-icon [icon]="faEnvelopeSquare"></fa-icon>
                        </a>
                    </div>
                </div>
                <div class="col-sm-3"></div>
            </div>
        </div>
    </div>
</div>
