.triangle {
    position: relative;
    z-index: -1;
    border-bottom: 100vh solid white;
    border-left: 270vw solid #4c86c3;
    overflow: hidden;
}

.intro-card {
    width: 50vw;
}

.profile {
    width: 150px;
    border-radius: 50%;
}

h1, p {
    font-family: Montserrat;
}

fa-icon {
    font-size: 2.5rem;
    color: black;
}

.float a fa-icon:hover {
    color: firebrick;
    transition: ease-out 300ms;
}


.float:hover {
    transform: translateY(-10%);
    transition: ease-out 300ms;
}

.float {
    color: black;
    display: inline-block;
    height: 80%;
    transition: ease-out 300ms;
}

.my-custom-class {
    color: green !important;
}

@media only screen and (max-width: 992px) {
    .big-intro {
        font-size: 2rem;
    }
    .small-dynamic-intro {
        text-align: left;
        height: 64px;
    }
    .profile {
        margin-bottom: 10%;
    }
    .triangle {
        border-left: 390vw solid #4c86c3;
    }
    .intro-card {
        width: 70vw;
    }
}